<br/> <br/>
<center>
<h1>Page d'édition d'un potin </h1>
<br/> <br/>

<%= form_tag url_for(action: 'update'), method: "patch" do %>
     <%= label_tag 'Le nouveau titre du gossip :' %>
     <br />
     <%= text_field_tag 'title', @title %>
     <br /> <br />

     <%= label_tag 'Le nouveau contenu du gossip :' %>
     <br />
     <%= text_field_tag 'content', @content %>
     <br /> <br />

     <%= submit_tag "Soumet ton nouveau gossip !" %>
   <% end %>
