<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <div class=jumbotron style="background-image: url(https://images.pexels.com/photos/209660/pexels-photo-209660.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); background-size: 100%; ">
        <div class=container style=center>
          <h1>Bienvenue sur la page du Gossip project !</h1>
          <h2>Tu vas pouvoir balancer du potin, du lourd !</h2>
          <!-- lien pour page création gossip -->
          <br/> <center>
          <a class="btn btn-primary" href="/static/new/" role="button"><h3>Viens écrire ton propre gossip !</h3></a>
          </center><br/>
       </div>
     </div>
  </head>
  <body>

<center>
  <!-- Message alerte : gossip bien créé -->
     <br /> <br />
  <% if @gossip %>
     <div class="alert alert-success alert-dismissible fade show" role="alert">
       <strong>GG !</strong> Tu viens de créer ton gossip !
       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
  <%end %>

  <!-- Message alerte : bien connecté -->
    <% if current_user && params["action"] == "index" %>
       <div class="alert alert-success alert-dismissible fade show" role="alert">
         <p> Bienvenue à toi, <%= current_user.first_name %> !! </p>
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
    <%end%>


<!-- Afficher tous les potins -->
  <h2>Voici la liste des potins existants : </h2>
   <br/> <br/>
    <div class="card-columns" style = "display-flex text-center">
      <% @gossips.each do |gossips| %>
      <div class="card border-light mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Gossip n°<%=gossips.id%> : <%= gossips.title %> </h5>
          <p class="card-text text-muted">Ecrit par <%= gossips.user.first_name %> <%= gossips.user.name %></p>
          <button type="button" class="btn btn-success"><a href="/static/gossip/<%=gossips.id %>" style="text-decoration:none !important; color:white"><small>Voir </small></a></button>

          <% if current_user &&  current_user.id == gossips.user.id %> <!-- user connecté et correspond au user_id du gossip -->
            <button type="button" class="btn btn-outline-light"><a href="/static/<%=gossips.id %>/edit" style="text-decoration:none !important; color:white"><small>Editer </small></a></button>
            <button type="submit" class="btn btn-outline-danger"><a href="/static/<%=gossips.id %>/" style="text-decoration:none !important; color:white" data-confirm = "Etes-vous sûr ?" data-method="delete"><small>Supprimer</small></a></button>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</center>
</body>
</html>
